<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BitRobot</display-name>
  <servlet>
    <servlet-name>SendQuery</servlet-name>
    <servlet-class>servlet.SendQuery</servlet-class>
    <!-- <load-on-startup>1</load-on-startup>  -->
  </servlet>
  <servlet>
    <servlet-name>LoadExpertListOnInit</servlet-name>
    <servlet-class>servlet.LoadExpertListOnInit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRelationshipServlet</servlet-name>
    <servlet-class>servlet.GetRelationshipServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddExpertInfo</servlet-name>
    <servlet-class>servlet.AdminAddExpertInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddExpertPatent</servlet-name>
    <servlet-class>servlet.AdminAddExpertPatent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddExpertReward</servlet-name>
    <servlet-class>servlet.AdminAddExpertReward</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddExpertRelationship</servlet-name>
    <servlet-class>servlet.AdminAddExpertRelationship</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddExpertPaper</servlet-name>
    <servlet-class>servlet.AdminAddExpertPaper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddExpertUpdates</servlet-name>
    <servlet-class>servlet.AdminAddExpertUpdates</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddExpertAchive</servlet-name>
    <servlet-class>servlet.AdminAddExpertAchive</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddExpertInterviews</servlet-name>
    <servlet-class>servlet.AdminAddExpertInterviews</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>SendQuery</servlet-name>
    <url-pattern>/servlet/SendQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadExpertListOnInit</servlet-name>
    <url-pattern>/servlet/LoadExpertListOnInit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRelationshipServlet</servlet-name>
    <url-pattern>/servlet/GetRelationshipServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddExpertInfo</servlet-name>
    <url-pattern>/servlet/AdminAddExpertInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddExpertPatent</servlet-name>
    <url-pattern>/servlet/AdminAddExpertPatent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddExpertReward</servlet-name>
    <url-pattern>/servlet/AdminAddExpertReward</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddExpertRelationship</servlet-name>
    <url-pattern>/servlet/AdminAddExpertRelationship</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddExpertPaper</servlet-name>
    <url-pattern>/servlet/AdminAddExpertPaper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddExpertUpdates</servlet-name>
    <url-pattern>/servlet/AdminAddExpertUpdates</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddExpertAchive</servlet-name>
    <url-pattern>/servlet/AdminAddExpertAchive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddExpertInterviews</servlet-name>
    <url-pattern>/servlet/AdminAddExpertInterviews</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>pages/ExpertRobot.jsp</welcome-file>
  </welcome-file-list>
</web-app>