* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height:100%;
    overflow: hidden;
    background-image: url("../images/wallpaper.jpg");
}

.mainDiv {
    width: 100%;
    height: 100%;
}

.mainDiv .leftDiv {
    width: 30%;
    height: 100%;
    overflow: hidden;
  	float:left;
}

.mainDiv .rightDiv {
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.mainDiv .rightDiv .righttopDiv{
    width: 100%;
    height: 80%;
    overflow: hidden;
}


.mainDiv .rightDiv .rightbottomDiv{
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.mainDiv .leftDiv .showDiv  {
	margin-left:100px;
	margin-right:150px;
	width:  60%;
	height: 85%;
    border: #ccc solid 1px;
    background-color: rgba(246, 247, 255,0.35);
    padding: 5px;
    font-size: 14px;
    overflow-y: scroll;
    scrollbar-track-color: #FFD6B9;
    scrollbar-base-color: lightblue;
    border-radius: 10px;
}

.mainDiv .rightDiv .righttopDiv .showDiv{
	margin-left:20px;
	margin-right:0px;
	width:  90%;
    border: #ccc solid 1px;
    background-color: rgba(246, 247, 255,0.35);
    border-radius: 10px;
    height: 80%;
    padding: 5px;
    font-size: 14px;
    overflow-y: scroll;
    scrollbar-track-color: #FFD6B9;
    scrollbar-base-color: lightblue;

}

.mainDiv .leftDiv span h3 {
	margin-top:10px;
	margin-left:130px;
    font-size: 30px;
    display: inline-block;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New"," Courier, monospace";
    color: #FFFFFF;
}


.mainDiv .rightDiv .righttopDiv span h3 {
	margin-top:10px;
	margin-left:180px;
    font-size: 30px;
    display: inline-block;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    color: #FFFFFF;
}



.mainDiv .rightDiv .righttopDiv  #messageDiv div{
	

   
}

.mainDiv .rightDiv #messageDiv div h5{
    font-size: 17px;
    display: inline-block;
    font-family: "Courier New";
    color: #FFA;
}

.mainDiv .rightDiv #messageDiv div h6{
    font-size: 17px;
    display: inline-block;
    font-family: "Courier New";
    color: #4789FF;
}



.mainDiv  .rightDiv span .exitButton {
    height: 30px;
    width: 30px;
    margin: 3px 3px 0px 0px;
    vertical-align: middle;
    border: 10px;
    border-radius: 15px;
    background-color: #5AB;
    float: right;
    font-size: 20px;
    color: #FFA;
}

.mainDiv .leftDiv .showDiv::-webkit-scrollbar, .mainDiv .rightDiv .righttopDiv .showDiv::-webkit-scrollbar, .mainDiv .rightDiv.rightbottomDiv .contentText::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #F5F5F5;

}

.mainDiv .leftDiv .showDiv::-webkit-scrollbar-track, .mainDiv .rightDiv .righttopDiv .showDiv::-webkit-scrollbar-track, .mainDiv .rightDiv.rightbottomDiv .contentText::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #FFD6B9;
}

.mainDiv .leftDiv .showDiv::-webkit-scrollbar-thumb, .mainDiv .rightDiv .righttopDiv .showDiv::-webkit-scrollbar-thumb, .mainDiv .rightDiv.rightbottomDiv .contentText::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: lightblue;

}

.mainDiv .leftDiv .showDiv ul{
    text-decoration: none;

}

.mainDiv .leftDiv .showDiv ul li div{
    font-size:25px;
    font-family: "Courier New";
    color:#FFA;
    border-radius:5px;
}

.mainDiv .leftDiv .showDiv ul li div label{
    font-size:17px;
    color:#00000;
}

.mainDiv .leftDiv .showDiv ul li div:hover, .mainDiv .leftDiv #messageDiv div:hover{
    background:#76B6FF;
}



.mainDiv .rightDiv .rightbottomDiv .contentText {
    width: 70%;
    height: 80%;
    background-color: rgba(255, 255, 255, 1.0);
    margin-top:0px;
    margin-left:20px;
    border: 1px solid #76B6FF;
    font-size: 20px;
    font-family: "Courier New";
    resize: 30%;
    float: left;
    scrollbar-track-color: #FFD6B9;
    scrollbar-base-color: lightblue;
    border-radius: 10px;
}

.mainDiv .rightDiv .rightbottomDiv .sendButton {
    height: 75px;
    width: 75px;
    vertical-align: middle;
	margin-left : 40px;
	margin-top : 10px;
    border: 0px;
    border-radius: 50px;
    background-color: #5AB;
    float: left;
    font-size: 20px;
    color: #FFA;
}


.mainDiv .rightDiv .rightbottomDiv .contentText:hover{
    border: 1px solid #4789FF;
}



.mainDiv .rightDiv .rightbottomDiv .sendButton:hover, .mainDiv  .rightDiv .righttopDiv span .exitButton:hover {
    background: #FAC;
    border-radius: 25px;
}

.mainDiv .rightDiv .rightbottomDiv .sendButton:focus, .mainDiv  .rightDiv .righttopDiv span .exitButton:focus {
    outline: none;
}

.mainDiv .rightDiv .rightbottomDiv .tipSpan {
    height: 100%;
    width: 70px;
    text-align: center;
    line-height: 95px;
    font-size: 15px;
    word-wrap: normal;
    color: #4789FF;
    float: left;
    overflow: hidden;
}



.mainDiv .send {
	position:relative;
	max-width:55%;
	background:rgba(118, 134, 255, 0.4);
	border-radius:5px; /* 圆角 */
	margin:30px auto 0;
	padding:10px;
	margin-top:10px;
	font-size: 20px;
	display: inline-block;
	font-family: "Courier New";
	color: #FFF;
	word-wrap:break-word;
	word-break:break-all;
}

.mainDiv .send .arrowright {
	position:absolute;
	top:15px;
	right:-16px; /* 圆角的位置需要细心调试哦 */
	width:0;
	height:0;
	font-size:0;
	border:solid 8px;
	border-color:transparent  transparent  transparent  rgba(118, 134, 255, 0.4);
}


.mainDiv .send .arrowleft{
	position:relative;
	top:1px;
	right:26px; /* 圆角的位置需要细心调试哦 */
	width:0;
	height:0;
	font-size:0;
	border:solid 8px;
	border-color:transparent rgba(118, 134, 255, 0.4) transparent  transparent;
}



