* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height:100%;
    overflow: hidden;
    background-image: url("../images/LoginBG2.jpg");
}

.mainDiv {
    width: 100%;
    height: 100%;
}

.mainDiv .topDiv {
    width: 100%;
    height: 82%;
    overflow: hidden;
}

.mainDiv .bottomDiv {
	margin-left:100px;
    width: 93%;
    height: 17%;
}

.mainDiv .topDiv .leftDiv .showDiv, .mainDiv .topDiv .rightDiv .showDiv {
	margin-left:100px;
	margin-right:100px;
    border: #ccc solid 1px;
    background-color: rgba(246, 247, 255, 0.2);
    border-radius: 10px;
    height: 85%;
    padding: 5px;
    font-size: 14px;
    overflow-y: scroll;
    scrollbar-track-color: #FFD6B9;
    scrollbar-base-color: lightblue;
}

.mainDiv .topDiv .leftDiv span h3, .mainDiv .topDiv .rightDiv span h3 {
	margin-top:10px;
	margin-left:100px;
    font-size: 30px;
    display: inline-block;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    color: #000000;
}

.mainDiv .topDiv .rightDiv #messageDiv div{
    width:70%;
    padding:10px;
    margin-bottom:5px;
    border-radius:10px;
    font-size: 20px;
    display: inline-block;
    font-family: "Courier New";
    color: #FFF;
    background:rgba(118, 134, 255, 0.4);
    float:right;
}

.mainDiv .topDiv .rightDiv #messageDiv div h5{
    font-size: 17px;
    display: inline-block;
    font-family: "Courier New";
    color: #FFA;
}

.mainDiv .topDiv .rightDiv #messageDiv div h6{
    font-size: 17px;
    display: inline-block;
    font-family: "Courier New";
    color: #4789FF;
}

.mainDiv .topDiv .rightDiv span .exitButton {
    height: 30px;
    width: 30px;
    margin: 3px 3px 0px 0px;
    vertical-align: middle;
    border: 0px;
    border-radius: 15px;
    background-color: #5AB;
    float: right;
    font-size: 20px;
    color: #FFA;
}

.mainDiv .topDiv .leftDiv .showDiv::-webkit-scrollbar, .mainDiv .topDiv .rightDiv .showDiv::-webkit-scrollbar, .mainDiv .bottomDiv .contentText::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.mainDiv .topDiv .leftDiv .showDiv::-webkit-scrollbar-track, .mainDiv .topDiv .rightDiv .showDiv::-webkit-scrollbar-track, .mainDiv .bottomDiv .contentText::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #FFD6B9;
}

.mainDiv .topDiv .leftDiv .showDiv::-webkit-scrollbar-thumb, .mainDiv .topDiv .rightDiv .showDiv::-webkit-scrollbar-thumb, .mainDiv .bottomDiv .contentText::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: lightblue;
}

.mainDiv .topDiv .leftDiv .showDiv ul{
    text-decoration: none;

}

.mainDiv .topDiv .leftDiv .showDiv ul li div{
    font-size:25px;
    font-family: "Courier New";
    color:#FFA;
    border-radius:5px;
}

.mainDiv .topDiv .leftDiv .showDiv ul li div label{
    font-size:17px;
    color:#00000;
}

.mainDiv .topDiv .leftDiv .showDiv ul li div:hover, .mainDiv .topDiv .leftDiv #messageDiv div:hover{
    background:#76B6FF;
}

.mainDiv .topDiv .leftDiv {
    width: 30%;
    height: 100%;
    display: inline-block;
    flaot: left;
}

.mainDiv .topDiv .rightDiv {
    width: 70%;
    height: 100%;
    display: inline-block;
    float: right;
}

.mainDiv .bottomDiv .contentText {
    width: 90%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #76B6FF;
    font-size: 20px;
    font-family: "Courier New";
    resize: none;
    float: left;
    scrollbar-track-color: #FFD6B9;
    scrollbar-base-color: lightblue;
}

.mainDiv .bottomDiv .contentText:hover{
    border: 1px solid #4789FF;
}

.mainDiv .bottomDiv .sendButton {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin: 30px 0px 0px 5px;
    border: 0px;
    border-radius: 25px;
    background-color: #5AB;
    float: left;
    font-size: 20px;
    color: #FFA;
}

.mainDiv .bottomDiv .sendButton:hover, .mainDiv .topDiv .rightDiv span .exitButton:hover {
    background: #FAC;
    border-radius: 25px;
}

.mainDiv .bottomDiv .sendButton:focus, .mainDiv .topDiv .rightDiv span .exitButton:focus {
    outline: none;
}

.mainDiv .bottomDiv .tipSpan {
    height: 100%;
    width: 70px;
    text-align: center;
    line-height: 95px;
    font-size: 14px;
    word-wrap: normal;
    color: #4789FF;
    float: left;
    overflow: hidden;
}